main
    h1 Portafolio
    section.home-draw
        header.home-draw__header
            h2
                span.home-draw__span bienvenidos, interactúen con esta web a su sumo gusto
        canvas#canvas_one.home-draw__canvas
    section.projects
        header.projects__header
            h2 proyectos
        article.projects__article
            //- -for(let i = 0; i < 6; i++)
            //-     nav.projects__nav
            //-         a.projects__a
            //-             img.projects__img(src="./../assets/vite.svg")
            //-             p.projects__p hola mundo
        footer.projects__footer
            button.projects__button.projects__button_preview.shimmer-btn preview
            button.projects__button.projects__button_next.shimmer-btn next