.about-me {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.wrap {
  perspective: 1000px;
  perspective-origin: 50% 50%;
}
.cube {
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
}
.side {
  position: absolute;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  border: none;
  color: var(--black);
  text-align: justify;
  transition: all 0.5s ease-in-out;
  font-size: 0.5rem;
}
.side h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-wrap: balance;
  margin-bottom: 1rem;
}
.side img {
  width: 50px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 0.5rem;
  float: right;
}
.side:hover {
  background: var(--white);
}
.cube {
  animation: rotate 15s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(720deg) rotateY(360deg);
  }
}
.front {
  transform: translateZ(100px);
  background: var(--primary);
}
.back {
  transform: translateZ(-100px) rotateY(180deg);
  background: var(--secondary);
}
.right {
  transform-origin: top right;
  transform: rotateY(-270deg) translateX(100px);
  background: var(--accent-100);
}
.left {
  transform-origin: center left;
  transform: rotateY(270deg) translateX(-100px);
  background: var(--accent-200);
}
.top {
  transform-origin: top center;
  transform: rotateX(-270deg) translateY(-100px);
  background: var(--bg-200);
}
.bottom {
  transform-origin: bottom center;
  transform: rotateX(270deg) translateY(100px);
  background: var(--bg-300);
}
/* Estos estilos paran la rotacion */
.cube_stop {
  transform: none;
  animation: none;
  width: 300px;
  height: 350px;
}
.cube_stop .side {
  display: none;
  transform: none;
}
.cube_stop .target_cube_stop {
  display: block;
  z-index: 900;
  opacity: 1;
  background: var(--white);
  font-size: 1.2rem;
}
.target_cube_stop img {
  width: 100px;
}
.target_cube_stop::after {
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  height: 0.3rem;
  background-color: var(--black);
  animation: width-load 10s linear;
  animation-iteration-count: 1;
  left: 0;
  bottom: 0;
}
@keyframes width-load {
  to {
    width: 100%;
  }
}
@media (width >= 768px) {
  .cube {
    height: 300px;
    width: 300px;
  }
  .front {
    transform: translateZ(200px);
  }
  .cube_stop{
    width: 400px;
    height: 450px;
  
  }
  .cube_stop .target_cube_stop{
    font-size: 1.5rem;
  }
  .target_cube_stop img{
    width: 200px;
  }
}
