.contacto {
  background-image: linear-gradient(
    180deg,
    var(--bg-100) 40%,
    var(--dark-blue) 60%
  );
  justify-content: flex-end;
  color: var(--white);
  gap: 1rem;
  font-size: 1.2rem;
  padding: 1.5rem;
}
.contacto__article {
  height: 50vh;
  gap: 1rem;
  flex: 1 0 auto;
}
.contacto__h2 {
  text-transform: lowercase;
}
.contacto__h2::first-letter {
  text-transform: uppercase;
}
.contacto__p {
  text-wrap: balance;
  text-align: right;
}
.contacto__ul {
  gap: 0.5rem;
  height: min-content;
  width: min(90%, 600px);
  justify-content: space-between;
}
.contacto__ul img {
  --size-social: calc(2rem + 3vw);
  height: var(--size-social);
  filter: invert(80%) sepia(80%) hue-rotate(90deg) contrast(80%) saturate(200%);
}
@media (width >= 768px) {
  .contacto {
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: row;
  }
  .contacto__article {
    height: 50%;
    width: 50%;
    justify-content: space-evenly;
  }
  .contacto__h2 {
    text-align: left;
  }
  .contacto__p {
    text-align: center;
  }
}
